{% if categorys is not null %}
    {% if categorys|length > 0 %}
        <h1 class="title">{{ 'link.news.categorys'|trans }}</h1>
        <hr>
        <div style="overflow:auto">
            <ul class="nav nav-pills nav-stacked">
                {% for category in categorys %}
                    <li>
                        <a href="{{ path('avl_news_category_list', { 'slug': category.path }) }}">{{ category.name }} ({{ category.getNews|length }})</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <br>
    {% endif %}
{% endif %}