{% extends 'UserBundle::layout.html.twig' %}

{% block title %}{{ 'title.resetting.already.requested'|trans }}{% endblock %}

{% block fos_user_content %}
    <div class="col-md-12">
        <h1>{{ 'title.resetting.already.requested'|trans }}</h1>
        <hr>
        <div class="well">
            <p>{{ 'text.resetting.already.requested'|trans({'%token_ttl%': token_ttl/60}) }}</p>
        </div>
    </div>
{% endblock %}