{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="form-group">
        <label for="username" class="control-label required">{{ 'resetting.request.username'|trans }}</label>
        <input type="text" id="username" name="username" style="width:300px" class="form-control" required="required" />
    </div>
    <div style="clear:both;text-align: center;padding-top:20px">
        <input type="submit" class="btn btn-primary" value="{{ 'resetting.request.submit'|trans }}" />
    </div>
</form>
