{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
    {{ form_widget(form) }}
    <div style="clear:both;text-align: center;">
        <hr>
        <input type="submit" class="btn btn-primary" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
</form>
