{% extends 'UserBundle::layout.html.twig' %}

{% block title %}{{ 'title.resetting.reset'|trans }}{% endblock %}

{% block fos_user_content %}
    <div class="col-md-12">
        <h1>{{ 'title.resetting.reset'|trans }}</h1>
        <hr>
        <div class="well">
            {{ 'text.resetting.reset'|trans }}
        </div>
        {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
    </div>
{% endblock %}