<!DOCTYPE html>
<html>
<head>
    <meta charset="{{ _charset }}" />
    <meta name="robots" content="noindex,nofollow" />
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {% block head %}{% endblock %}
</head>
<body>
<div>
    <div class="container" style="width:60%;">
        {% block body %}{% endblock %}
    </div>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
