{% extends "UserBundle::layout.html.twig" %}

{% block content %}
    <h1>Mein Account</h1>
    <br>
    <div style="float:left;width:500px">
        {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
    </div>
    <div style="float:right;width:200px">
        <img src="{{ UserProfileImagePath() }}" height="200"/>
        {% if  app.user.getProfilePicturePath %}
        <form action="{{ path('fos_user_profile_delete_picture') }}" {{ form_enctype(form) }} method="POST" onsubmit="return confirm('Are you sure you want to delete this entry?')">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="delete">
        </form>
        {% endif %}
    </div>
    <br style="clear:both">
{% endblock content %}
