{% extends 'UserBundle::layout.html.twig' %}

{% block title %}Event{% endblock %}

{% block content %}
<div class="col-md-12">
    <h1>Events <small>/ All about your events</small></h1>
    <hr>
    <br>
    <!-- tabs left -->
    <div class="tabbable tabs-left">
        {% include 'UserBundle:Event:tabs.html.twig' %}
        <div class="tab-content" style="width:80%;float:left">
            <div class="tab-pane active">
                Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events.
                Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events.
                Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events.
                Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events.
                Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events.
                Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events.
                Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events. Lorem ipsum for events.
            </div>
        </div>
    </div>
    <!-- /tabs -->
</div>
{% endblock %}
