{% extends 'UserBundle::layout.html.twig' %}

{% block title %}Event{% endblock %}

{% block content %}
<div class="col-md-12">
    <h1>Event</h1>
    <p>
        Hello {{ app.session.get('username') }}
        <br><br>
        this is empty page. I'am working hard to change this.
    </p>
</div>
{% endblock %}
