{% extends 'UserBundle::layout.html.twig' %}

{% block title %}{{ 'title.events'|trans }}{% endblock %}

{% block content %}
<div class="col-md-12">
    <h1>{{ 'title.events'|trans }} <small>{{ 'title.sub.events'|trans }}</small></h1>
    <hr>
    <br>
    <!-- tabs left -->
    <div class="tabbable tabs-left">
        {% include 'UserBundle:Event:tabs.html.twig' %}
        <div class="tab-content" style="width:75%;float:left">
            <div class="tab-pane active">
                <div class="well">
                    Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.
                    Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.
                    Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.
                    Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.
                    Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.
                    Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.
                    Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.
                    Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.
                    Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.
                    Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.
                    Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.
                    Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.
                </div>
            </div>
        </div>
    </div>
    <!-- /tabs -->
</div>
{% endblock %}
