<ul class="nav nav-tabs" style="width:15%">
    <li {% if currentRouteName == 'avl_event_show' %}class="active"{% endif %}>
        <a href="{{ path('avl_event_show') }}">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true" style="top:2px"></span>
            Events
        </a>
    </li>
    <li {% if currentRouteName == 'avl_comment_show' %}class="active"{% endif %}>
        <a href="{{ path('avl_comment_show') }}">
            <span class="glyphicon glyphicon-comment" aria-hidden="true" style="top:2px"></span>
            Comments
            <span class="label label-success label-as-badge" title="You have 78 inquiry about your events">2</span>
        </a>
    </li>
    <li {% if currentRouteName == 'avl_enquiry_show' %}class="active"{% endif %}>
        <a href="{{ path('avl_enquiry_show') }}">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true" style="top:2px"></span>
            Enquirys
            <span class="label label-success label-as-badge" title="You have 78 inquiry about your events">78</span>
        </a>
    </li>
</ul>