{% extends "UserBundle::layout.html.twig" %}

{% block title %}{{ 'title.customer.password'|trans }}{% endblock %}

{% block content %}
    <div class="col-md-12">
        <h1>{{ 'title.customer.password'|trans }}</h1>
        <hr>
        <div class="tabbable tabs-left">
            {% include 'UserBundle:Tabs:profile.html.twig' %}
            <div class="tab-content" style="width:75%;float:left">
                <div class="tab-pane active">
                    {% include "UserBundle:ChangePassword:changePassword_content.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

