{% extends "UserBundle::layout.html.twig" %}

{% block content %}
    <div class="col-md-12">
        <h1>My Account</h1>
        {% include "UserBundle:ChangePassword:changePassword_content.html.twig" %}
    </div>
{% endblock content %}

