{% trans_default_domain 'FOSUserBundle' %}
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST"
      class="fos_user_change_password">
    <div class="well">
        {{ form_widget(form) }}
    </div>
    <div style="clear:both;text-align: center;">
        <hr>
        <input type="submit" class="btn btn-primary" value="{{ 'change_password.submit'|trans }}"/>
    </div>
</form>
