{% extends "UserBundle::layout.html.twig" %}

{% block title %}{{ 'title.customer.password'|trans }}{% endblock %}

{% block content %}
    <div class="col-md-12">
        <h1>{{ 'title.customer.password'|trans }}</h1>
        <hr>
        <br>
        {% include "UserBundle:ChangePassword:changePassword_content.html.twig" %}
    </div>
{% endblock content %}

