{% extends 'UserBundle::layout.html.twig' %}

{% block title %}Subuser{% endblock %}

{% block content %}
    <div class="col-md-12">
        <h1>Subuser-Management</h1>
        <hr>
        <br>
        {% include "FOSUserBundle:Subuser:entities.html.twig" %}
    </div>
{% endblock %}