{% extends 'UserBundle::layout.html.twig' %}

{% block title %}Subuser{% endblock %}

{% block content %}
    <div class="col-md-12">
        <h1>{{ 'title.subuser'|trans }}</h1>
        <hr>
        <div class="tabbable tabs-left">
            {% include 'UserBundle:Tabs:subuser.html.twig' %}
            <div class="tab-content" style="width:75%;float:left">
                <div class="tab-pane active">
                    <div class="well">
                        {% include "FOSUserBundle:Subuser:entities.html.twig" %}
                    </div>
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}