{% extends 'UserBundle::layout.html.twig' %}

{% block title %}Comments{% endblock %}

{% block content %}
<div class="col-md-12">
    <h1>Comments <small>/ All about your comments</small></h1>
    <hr>
    <br>
    <!-- tabs left -->
    <div class="tabbable tabs-left">
        {% include 'UserBundle:Event:tabs.html.twig' %}
        <div class="tab-content" style="width:80%;float:left">
            <div class="tab-pane active">
                Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.
                Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.
                Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.
                Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.
                Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.
                Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.
                Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.
                Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.
                Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.
                Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.
                Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.
                Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.
            </div>
        </div>
    </div>
    <!-- /tabs -->
</div>
{% endblock %}
