{% extends 'UserBundle::layout.html.twig' %}

{% block title %}{{ 'title.comments'|trans }}{% endblock %}

{% block content %}
    <div class="col-md-12">
        <h1>{{ 'title.comments'|trans }}
            <small>{{ 'title.sub.comments'|trans }}</small>
        </h1>
        <hr>
        <!-- tabs left -->
        <div class="tabbable tabs-left">
            {% include 'UserBundle:Tabs:event.html.twig' %}
            <div class="tab-content" style="width:75%;float:left">
                <div class="tab-pane active">
                    <div class="well">
                        Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for
                        comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum
                        for comments.
                        Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for
                        comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum
                        for comments.
                        Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for
                        comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum
                        for comments.
                        Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for
                        comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum
                        for comments.
                        Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for
                        comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum
                        for comments.
                        Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for
                        comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum
                        for comments.
                        Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for
                        comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum
                        for comments.
                        Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for
                        comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum
                        for comments.
                        Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for
                        comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum
                        for comments.
                        Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for
                        comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum
                        for comments.
                        Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for
                        comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum
                        for comments.
                        Lorem ipsum for comments. Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for
                        comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum for comments.Lorem ipsum
                        for comments.
                    </div>
                </div>
            </div>
        </div>
        <!-- /tabs -->
    </div>
{% endblock %}
