{% extends 'UserBundle::layout.html.twig' %}

{% block title %}{{ '404.not.found'|trans }}{% endblock %}

{% block content %}
    <div class="col-md-12">
        <h1>{{ 'title.404.not.found'|trans }}</h1>

        <p>
            {{ 'text.404.not.found'|trans }}
        </p>
    </div>
{% endblock %}
